$bg:linear-gradient(-90deg,#02203c,#001528);
$openSans:'Open Sans', sans-serif;
$header_bg:#282c34;
$primary_black:#292929;
$yellow_text:#ffd900;
$transition:all 0.3s linear;
$primary_white:#fff;
$primary_grey:#4d4d4d;
$primary_green:#93cb52;
$form_green:#38d39f;
$fav_red:#f15025;
$vlite_white:#ccc;
$vvlite_white:rgb(185, 184, 184);
$thick_blue:#2a006e;
$error:#e80004;
$regular_font:'Poppins',-apple-system, BlinkMacSystemFont;
$abel_font:'Abel',sans-serif;
$btn_blue:#0046c7;
$linkedin_blue:#054e75;
$sd:linear-gradient(-90deg,#81afda,#226cb1);
$vlite_blue:#4e2a86;
$lightning:rgb(100, 255, 218);
$box-shadow:rgba(2,12,27,0.7) 0px 10px 30px -15px;
$thick_green:#055c3c;